* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--blackFont);
}

img {
  border-radius: 10px;
}

:root {
  --whiteFont: #fff;
  --blackFont: #fff;
  --whiteBG: #2b859ec0;
  --blackAsh: #2d3436;
}

.darkTheme {
  --whiteFont: #000;
  --blackFont: #febf9b;
  --whiteBG: #2d3436;
  --blackAsh: #fff;
}

body {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.mainBox {
  width: 90%;
  max-width: 550px;
  background: var(--whiteBG);
  border-radius: 13px;
  overflow: hidden;
}

.mainBox .heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.mainBox .heading h2 {
  display: inline-block;
  margin: 0 auto;
  font-size: 28px;
}

.mainBox .heading img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  padding: 4px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: none;
}

.inputSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.inputSection input {
  outline: 0;
  border: 0;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 17px;
  width: 80%;
  background-color: var(--blackAsh);
  color: var(--whiteFont);
}

.inputSection input::placeholder {
  color: var(--whiteFont);
}

.inputSection img {
  height: 40px;
  margin-left: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: none;
  padding: 5px;
}

.alertSection {
  display: none;
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.weatherSection {
  display: none;
}

.mainWeather {
  text-align: center;
  margin-top: 20px;
}

.mainWeather img {
  width: 120px;
}

.mainWeather h1 {
  font-size: 32px;
}

.detailWeather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
}

.Column {
  display: flex;
  justify-content: center;
}

.Column img {
  width: 40px;
  height: 40px;
  margin: 10px 20px;
  margin-left: 0;
}

.Column h2 {
  font-size: 28px;
}

.Column p {
  font-weight: bold;
  font-size: 20px;
}
